# Nova dilini Text yerine Nova olarak tanımla
*.nova linguist-language=Nova

# Rust dosyalarını istatistikten çıkar
*.rs              linguist-detectable=false
src/**/*.rs       linguist-detectable=false

# Gereksiz dosyaları istatistikten çıkar
tests/**/*        linguist-detectable=false
testdata/**/*     linguist-detectable=false
fixtures/**/*     linguist-detectable=false
examples/**/*     linguist-detectable=false
build/**/*        linguist-detectable=false
dist/**/*         linguist-detectable=false
target/**/*       linguist-detectable=false
vendor/**/*       linguist-vendored
third_party/**/*  linguist-vendored
docs/**/*         linguist-documentation
scripts/**/*      linguist-detectable=false
