.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
server/node_modules/**
server/src/**
server/tsconfig.json
server/package-lock.json
*.vsix
TROUBLESHOOTING.md
PUBLISH.md
SIMPLE_PUBLISH.md